<div class="MAGAZINE-LIST pl-[15px] md:pl-0">
  <div>
    <div class="relative md:pb-0 md:px-[63px] md:mx-[-63px] md:mb-[44px]">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5474">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/54f06a802cd8df8cbfd34853992d3de4.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Atny</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">월간 애트니 vol.NOVEMBER</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">11월 한 달간의 베스트 브랜드, 아이템, 키워드, 리뷰를 모았습니다!</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5400">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/bcbace012a696d475d3a9e3438a7d5c6.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Style</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">다채로운 매력의 발라클라바</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">보온성과 스타일까지 나타낼 수 있는 발라클라바에 대해 알아봐요!</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5254">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/49cda25639721cacbeaa71bb490a0323.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Style</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">ENJOY WINTER!</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">겨울이 시작되는 순간, 어떤 아이템이 필요할까? ATNY PICK</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5066">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/daf0015e3c4609854d6cfb4f00cc4188.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Brand</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">JW ANDERSON X 달려라 하니</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">JW 앤더슨과 한국 국민 만화의 파격적인 콜라보를 만나보세요!</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5254">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/49cda25639721cacbeaa71bb490a0323.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Style</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">ENJOY WINTER!</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">겨울이 시작되는 순간, 어떤 아이템이 필요할까? ATNY PICK 어떤 아이템이 필요할까? ATNY PICK</div>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="/board/view?id=magazine&amp;seq=5066">
              <div class="relative">
                <img src="//img.atny.com/data/board/magazine/daf0015e3c4609854d6cfb4f00cc4188.jpg" alt="magazine" class="w-full">
                <span class="absolute bottom-0 left-0 bg-white h-8 leading-8 text-[#121212] text-[11px] px-4 tracking-wider md:tracking-[2px]">Brand</span>
              </div>
              <div class="pt-3">
                <div class="text-xs text-[#121212] mb-[10px] md:text-[14px] md:leading-tight">JW ANDERSON X 달려라 하니</div>
                <div class="text-[11px] text-[#807e7e] break-keep leading-4 pr-5 md:text-xs">JW 앤더슨과 한국 국민 만화의 파격적인 콜라보를 만나보세요!</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next hidden md:block w-[37px] h-[59px] absolute right-0 mt-[-35px] cursor-pointer left-auto z-50 bg-[url('../assets/icon/btn-slide-right.png')] bg-center bg-no-repeat after:hidden"></div>
      <div class="swiper-button-prev hidden md:block w-[37px] h-[59px] absolute left-0 mt-[-35px] cursor-pointer z-50 bg-[url('../assets/icon/btn-slide-left.png')] bg-center bg-no-repeat after:hidden"></div>
    </div>
    <div class="mt-10 text-center">
      <a href="https://www.google.com" target="_blank" class="w-[141px] h-11 text-center border border-[#eff1f4] text-black text-xs leading-[44px] inline-block">
        전체보기
      </a>
    </div>
  </div>
  <script>
    {
      /* 매거진 */
      const target = '[data-cpntid="{{cpntid}}"]';
      const swiper = new Swiper(`${target} .swiper`, {
        slidesPerView : 2.5,
        spaceBetween : 10,
        watchSlidesProgress : true,
        navigation : {
          nextEl : `${target} .swiper-button-next`,
          prevEl : `${target} .swiper-button-prev`,
        },
        breakpoints : {
          1024 : {
            slidesPerView : 4,
            spaceBetween : 45,
          }
        }
      })
    }
  </script>
</div>