<section class="VISUAL-SLIDE-WRAP leading-[0]">
  <div class="swiper md:px-[20%]">
    <div class="swiper-wrapper">
      {{#times 3}}
        <div class="swiper-slide">
          <a href="javascript:;">
            <img src="../images/img-10-{{number}}.jpg" alt="" title="main_banner">
            <div class="txt"><strong></strong></div>
          </a>
        </div>
      {{/times}}
    </div>
    <div class="paging bottom-[22px] h-[22px] px-3 right-[23px] bg-[#121212] opacity-70 rounded-full tracking-tighter leading-[22px] absolute left-auto w-auto text-white text-[14px] z-50 mb-[13px] md:bottom-[29px] md:left-1/2 md:mb-0 md:ml-[500px] md:right-auto md:bg-transparent"></div>
    <div class="swiper-button-next hidden md:block w-[210px] bg-[url('../assets/icon/btn-visual-next.svg')] bg-[right_center] bg-no-repeat h-[69px] left-auto !right-[8%] mt-[-34px] pr-[58px] cursor-pointer after:hidden"></div>
    <div class="swiper-button-prev hidden md:block w-[210px] bg-[url('../assets/icon/btn-visual-prev.svg')] bg-[left_center] bg-no-repeat h-[69px] left-[8%] mt-[-34px] pl-[58px] cursor-pointer after:hidden"></div>
  </div>
  <script>
    {
      let swiper = new Swiper(".VISUAL-SLIDE-WRAP .swiper", {
        slidesPerView : 1,
        centeredSlides : true,
        loop : true,
        loopedSlides : 2,
        watchSlidesProgress : true,
        slideToClickedSlide : false,
        resistance : true,
        autoplay : {
          delay : 3000,
          disableOnInteraction : false,
        },
        navigation : {
          nextEl : ".VISUAL-SLIDE-WRAP .swiper-button-next",
          prevEl : ".VISUAL-SLIDE-WRAP .swiper-button-prev",
        },
        pagination : {
          el : ".VISUAL-SLIDE-WRAP .paging",
          type : "fraction",
        },
        on : {
          init : function () {
            let txt_prev = $(".VISUAL-SLIDE-WRAP .swiper-slide-prev img").attr("alt");
            let txt_next = $(".VISUAL-SLIDE-WRAP .swiper-slide-next img").attr("alt");
            $(".VISUAL-SLIDE-WRAP .swiper-button-prev .txt").text(txt_prev);
            $(".VISUAL-SLIDE-WRAP .swiper-button-next .txt").text(txt_next);
            let paging_length = $('.VISUAL-SLIDE-WRAP .swiper-wrapper .swiper-slide').length;
            //$(".VISUAL-SLIDE-WRAP .paging").text("1 / " + paging_length);
          },
          slideChangeTransitionEnd : function () {
            let txt_prev = $(".VISUAL-SLIDE-WRAP .swiper-slide-prev img").attr("alt");
            let txt_next = $(".VISUAL-SLIDE-WRAP .swiper-slide-next img").attr("alt");
            $(".VISUAL-SLIDE-WRAP .swiper-button-prev .txt").text(txt_prev);
            $(".VISUAL-SLIDE-WRAP .swiper-button-next .txt").text(txt_next);
          }
        }
      });
    }
  </script>
</section>
