<style>
  body{ padding:10px; }
</style>
<div id="MarkupPageTitle" style="background-color:white; font-weight:600; font-size:24px; color:black; line-height:140%; margin-bottom:20px; border:2px solid black; border-radius:10px; display:flex; align-items:center; justify-content:center; height:50px; box-shadow:0px 0px 10px #999;">
</div>
